{% extends 'base.html' %}
{% block title %}Sobre{% endblock %}

{% block content %}
<div class="col-md-8 sobre">
    <h1>Sobre</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt consequuntur, magni voluptatem beatae consectetur similique velit inventore nobis, ab expedita aliquid. Odit quaerat excepturi, debitis repudiandae ipsam tenetur distinctio labore!</p>
    <h3>Lista de coisas</h3>
    <ul>
        <li>Html/css</li>
        <li>Postgresql</li>
        <li>Django</li>
        <li>Aws</li>
    </ul>
</div>
{% endblock %}